header {
  background: white;
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
}

nav {
  background: white;
  width: 100%;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  display: none;
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
    margin-left: 1rem;
    list-style: none;
  }

  a {
    color: $lightColor;
    text-decoration: none;
    &:hover {
      color: rgb(143, 6, 6);
    }
  }
}

.nav-toggle {
  display: none;
  &:checked ~ nav {
    display: block;
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
