.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.navlogo{
    display: grid;
    justify-content:flex-end;
    align-content: center;
    font-size: 3rem;
    width:10%;
}
.nav-toggle{
    display: none;
&:checked{
    
       ~ .navbar{
display: none;
        }
    
}
}
.navtoggle-label {
    span{
        font-size: 2rem;
        
    }
}

.a-none{
    text-decoration: none;
}
a{
    text-decoration: none;
&:hover{
color:red;
}
}
.navbartoggle{
   
}