@media only screen and (max-width:768px){
    .navtoggle-label {
        span{
            font-size: 2rem;
            display:none;
            
        }
    }
    .navlogo{
        
    }
    .navbar{
        grid-auto-flow: column;
    }
    .navlinks{
        grid-auto-flow:column;
    }
  
@for $i from 1 through $columns{
    .c-l-#{$i}{
        flex:0 0 100%/$columns*$i;
    }
}
}

@media only screen and (max-width:480px){
   
   .logo{
       
   }
@for $i from 1 through $columns{
    .c-l-#{$i}{
        flex:0 0 100%/$columns*$i;
    }
}
}