@media  screen and (min-width:800px)
{
    nav{
        background: red;
    }
.nav-toggle-label{
    display:none;
}
}
@media only screen and (max-width:768px)
{
    
    .imagestyle{
        width:80%;
    }
@for $i from 1 through $columns{
    .c-m-#{$i}{
        flex:0 0 100%/$columns*$i;
    }
}
.navbar{
    display: none;

}
}
@media only screen and (max-width:480px)
{
    
.navbar{
    display: flex;
flex-direction: column;
}
.imagestyle{
    width:100%;
}
@for $i from 1 through $columns{
.c-s-#{$i}{
    flex:0 0 100%/$columns*$i;
}
}
}